<h1>My tasks</h1>


<% @tasks.each do |task| %>
  <% if task.completed %>
    <p><%= link_to "(X) #{task.title}", task_path(task) %></p>
  <% else %>
    <p><%= link_to "( ) #{task.title}", task_path(task) %></p>
  <% end %>
<% end %>

<div class="btn"><%= link_to "Create Task", tasks_new_path%></div>


