// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.btn{
  background-color: blue;
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 5px;
  width: 100px;
  
}